body{
    background-color:darkgray;
}

.header{
    text-decoration: dotted;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.styleBlock{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: solid;
    border-radius: 5%;
    color: blue;
    width: 600px;
    margin-left: 450px;
}

.item-text{
    font-size: larger;
}

.item-textstrike{
    text-decoration: line-through;
    color: red;
}
.item-textstrike.hover{
    transform: matrix();
}
